canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@media (max-width: 992px) {
  .grafico.container {
    max-width: 100%;
  }
}
#regione div.dropdown-menu {
  height: auto;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
}
#divDropProvince {
  height: auto;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
}
#regione div.dropdown-menu.show {
  transform: translate3d(0px, 38px, 0px) !important;
}